.twitter-typeahead, .tt-dropdown-menu{
	width: 100%;
}

.tt-dropdown-menu{
	background-color: white;
	border: 1px solid #999;
	box-shadow: 0 0 4.8px 0.3px rgba(0, 0, 0, 0.25);
}

.tt-suggestion {
    padding: 0 20px;
    line-height: 50px;
    border-bottom: 1px solid #999;
}

.tt-suggestion.tt-cursor{
    background-color: #eee;
}

.tt-suggestion p{
	margin: 0;
}

#search{
	right: 20px;
	margin-top: 10px;
}

#search input{
	width: 300px;
	height: 40px;
	box-shadow: 0 0 4.8px 0.3px rgba(0, 0, 0, 0.25);
}

#probe{
	position: fixed;
	display: none;
	margin: -50px 0 0 10px;
	padding: 5px 10px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background-color: white;
	box-shadow: 0 0 4.8px 0.3px rgba(0, 0, 0, 0.25);
	font-weight: bold;
	font-size: 14px;
}

#probe:after{
	display: block;
	color: #999;
	content: "Click to learn more...";
	font-weight: normal;
	font-style: italic;
	font-size: 14px;
}

aside, #selected{
	width: 300px;
	position: fixed;
	z-index: 1;
	left: -300px;
}

aside{
	padding: 0 20px;
	margin-top: 60px;
	background-color: white;
	overflow: auto;
	border-right: 1px solid #999;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.details aside, .details #selected{
	left: 0;
}

#selected{
	top: 140px;
	margin: 0;
	font-size: 18px;
	font-weight: 400;
	line-height: 60px;
	text-indent: 30px;
	color: white;
	background-color: #ed2a24;
}

aside p{
	margin: 10px;
}

aside > div{
	border-top: 1px solid #999;
}

aside h3, aside h4, aside h5{
	margin: 10px;
	font-weight: bold;
}

aside h3{
	font-size: 18px;
}

aside h5{
	margin-bottom: 0;
	color: #999;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	clear: both;
}

aside h5 + p{
	margin-top: 0;
}

.service + .service{
	border-top: none;
}

.service + .service h3{
	display: none;
}
